.vehicle-details {
    padding-bottom: 0;
}

.vehicle-details::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 33.33%;
    height: 60vh;
    background: var(--primary);
}

.details-left,
.details-middle,
.details-right {
    position: relative;
}

.details-img-left {
    position: relative;
    height: 55vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.vehicle-details .price {
    position: relative;
    font-family: 'Racing Sans One', cursive;
    color: #fff;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.price span {
    position: absolute;
    font-size: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
}

.contact-seller {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content {
    padding: 0 20px;
}

.content h2 {
    font-family: 'Racing Sans One', cursive;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: center;
}

.details-box {
    padding: 20px;
    width: 100%;
    background: #fff;
    box-shadow: 2px 0 35px 0 rgba(68, 88, 144, .12);
    margin-bottom: 15px;
    transition: .3s;
}

.details-box:hover {
    box-shadow: 2px 0 40px 0 rgba(0, 0, 0, .2);
}

.details-box i {
    display: block;
    font-size: 36px;
    color: var(--primary);
    float: left;
    line-height: 0;
}

.details-box span {
    font-family: 'Racing Sans One', cursive;
    font-size: 1.5rem;
    line-height: 10px;
    display: block;
    font-weight: 500;
    color: #222;
    margin-left: 50px;
}

.details-box p {
    padding: 15px 0 0 0;
    margin: 0 0 0 50px;
    font-size: 14px;
    color: #484848;
}

.details-img-middle,
.details-img-right {
    height: 28vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.details-description {
    padding: 50px 20px 20px;
}



