.nav {
    position: absolute;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: var(--primary);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    z-index: 900 !important;
    gap: 30px;
    margin: 0 !important;
}

.nav.active {
    right: 0;
    opacity: 1;
    visibility: visible;
    z-index: 900;
}

.nav li {
    position: relative;
    list-style: none;
}

.nav li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .5s;
    font-weight: 500;
    padding: 10px;
}

.nav li a:hover,
.nav li a.active {
    color: var(--second);
}



