.slide-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 120px;
    width: 120px;
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #fff;
    z-index: 900;
}

.slide-btn:hover {
    background: var(--second);
}